<div class="">
  <h1 class="budget">Budget app</h1>
  <div class="btns">
    <%= button_to "LOG IN", new_user_session_path, class:'login' %>
    <%= link_to 'Register', new_user_registration_path, class: "register" %>
  </div>
</div>