<div class="">
  <h1 class="title display-1 fw-bold">Bugo</h1>
  <div class="splash-btns">
    <%= button_to "LOG IN", new_user_session_path %>
    <div class="d-flex justify-content-center">
      <%= link_to 'Register', new_user_registration_path, class: "link" %>
    </div>
  </div>
</div>