<header class="">
<div class="toolbar">
  <%= link_to image_tag("https://img.icons8.com/officel/344/back.png"),groups_path, class: "back_btn" %>
  <h5 class="toolbar__groups">groups</h5>
</div>
  <div></div>
</header>
<% if flash[:notice] %>
  <p><%= notice %></p>
<% end %>
<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
  <% end %>
</div>
<div class="">
  <%= link_to "New group", new_group_path, class: 'register bottom'%>
</div>