<header class="d-flex justify-content-between align-items-center header">
  <%= link_to image_tag("https://img.icons8.com/officel/344/back.png"),groups_path, class: "back_btn" %>
  <h5>New Group</h5>
  <div></div>
</header>
<%= render "form", group: @group %>